<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sistema gestion de libros</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container-lg">
<h1>Actualizar libro</h1>
<hr>
    <form class="w-50" th:action="@{/libroUpdate}" th:object="${libro}" method="post" autocomplete="off">
        <input type="hidden" th:field="*{id}">

        <label for="nombre" class="col-form-label">Nombre:</label>
        <input type="text" id="nombre" th:field="*{nombre}" class="form-control">

        <label for="autor" class="col-form-label">Autor:</label>
        <select id="autor" th:field="*{autor.id}" class="form-control" required>
            <option value="" th:selected="*{autor.id} == null">Selecciona un autor</option>
            <option th:each="autor : ${autores}"
                    th:value="${autor.id}"
                    th:text="${autor.nombre} + ' ' + ${autor.apellido}">
            </option>
        </select>

        <label for="precio" class="col-form-label">Precio:</label>
        <input type="number" id="precio" min="0" th:field="*{precio}" class="form-control">

        <br>
        <button type="submit" class="btn btn-info col-2">Update</button>
    </form>
</div>
</body>
</html>